<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Food Truck</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Main slide -->
  <div class="">
    <ion-slides pager autoplay="5000" loop="true" speed="1000">
      <ion-slide>
        <img src="http://localhost:8080/image/truck/truck_image1.jpg" alt="Image">
      </ion-slide>
      <ion-slide>
        <img src="http://localhost:8080/image/truck/truck_image2.jpg" alt="Image">
      </ion-slide>
      <ion-slide>
        <img src="http://localhost:8080/image/truck/truck_image3.jpg" alt="Image">
      </ion-slide>
    </ion-slides>
  </div>
  <br>

  <!-- Main Navigator -->
  <ion-grid>
    <ion-row>
      <ion-col class="col-sm-4 service-description" text-center>
        <a (click)="goToPages('TruckMapPage')">
          <ion-icon ios="ios-map-outline" md="ios-map-outline"></ion-icon>
        </a><br>
        <h5><strong>트럭지도</strong></h5>
      </ion-col>
      <ion-col class="col-sm-4 service-description" text-center>
        <a (click)="goToPages('TruckListPage')">
          <ion-icon ios="ios-list" md="ios-list" aria-hidden="true"></ion-icon>
        </a><br>
        <h5><strong>트럭리스트</strong></h5>
      </ion-col>
      <ion-col class="col-sm-4 service-description" text-center>
        <a (click)="goToPages('CanivalPage')">
          <ion-icon ios="ios-calendar-outline" md="ios-calendar-outline"></ion-icon>
        </a><br>
        <h5><strong>축제정보</strong></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-sm-4 service-description" text-center *ngFor="let tab of myTabs">
        <a (click)="goToMyPages(tab)" text-center>
          <ion-icon name="{{tab.icon}}"></ion-icon>
        </a><br>
        <h5><strong>{{tab.title}}</strong></h5>
      </ion-col>
      <!-- <ion-col class="col-sm-4 service-description" text-center *ngIf="session">
        <a (click)="goToMyPages(tab)">
          <ion-icon ios="ios-happy-outline" md="ios-happy-outline" aria-hidden="true"></ion-icon>
        </a><br>
        <h5><strong>나의 리뷰</strong></h5>
      </ion-col>
      <ion-col class="col-sm-4 service-description" text-center *ngIf="session">
        <a (click)="goToMyPages(tab)">
          <ion-icon ios="ios-happy-outline" md="ios-happy-outline" aria-hidden="true"></ion-icon>
        </a><br>
        <h5><strong>즐겨찾기</strong></h5>
      </ion-col> -->
      <!-- <ion-col class="col-sm-4 service-description" text-center  *ngIf="session">
        <a (click)="goToPages('MemberInfoPage')" text-center >
          <ion-icon ios="ios-create-outline" md="ios-create-outline" aria-hidden="true"></ion-icon>
        </a><br>
        <h5><strong>마이페이지</strong></h5>
      </ion-col> -->
      <ion-col class="col-sm-4 service-description" text-center>
        <a (click)="goToPages('SupportPage')">
          <ion-icon ios="ios-help" md="md-help" aria-hidden="true"></ion-icon>
        </a><br>
        <h5><strong>고객센터</strong></h5>
      </ion-col>
      <!-- 밑의 두개는 공간차지용입니다. -->
      <ion-col class="col-sm-4 service-description" text-center  *ngIf="!session"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
