<ion-menu persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <!-- <ion-title *ngIf="member">{{nickname}} 님</ion-title>
      <ion-buttons class="btnLogin" *ngIf="!member" start>
        <button ion-button menuClose icon-only (click)="goToLogin()">login</button>
      </ion-buttons>
      <ion-buttons end>
        <button *ngIf="member" ion-button menuClose icon-only color="royal" (click)="goToMemberInfo()">
          <ion-icon name="person"></ion-icon>마이페이지
        </button>
      </ion-buttons> -->
      <ion-title *ngIf="member">{{nickname}} 님</ion-title>
      <ion-buttons *ngIf="!member" left>
        <button  class="btn" ion-button icon-only menuClose (click)="goToLogin()">
          &nbsp;&nbsp;&nbsp;&nbsp;Login &nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button *ngIf="member" ion-button menuClose icon-only color="royal" (click)="goToMemberInfo()">
          <ion-icon name="person"></ion-icon>마이페이지
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list style="margin: 0.5em 0.5em 0.5em 0.5em">
      <button ion-button full color="light" *ngIf="registype === 2 && check === 0" menuClose  (click)="goToTruckRegist()">
        푸드트럭등록
      </button>
      <button ion-button full color="light" *ngIf="registype === 2 && check === 1" menuClose  (click)="goToTruckInfo()">
        나의트럭가기
      </button>
      <hr>
    </ion-list>
    <ion-list>
      <button class="menuTitle" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon float-right small name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer style="background:rgb(244, 240, 240)">
    <ion-list style="margin: 0.5em 0.5em 0.5em 0.5em; text-align:center">
      <p style="color: rgb(152, 149, 148); font-size: 0.6em; margin-bottom:0">Copyright Foodtruck. All Rights Reserved.</p>
      <p style="color: rgb(152, 149, 148); font-size: 0.6em; margin:0 0 0 0">©FoodTruck</p>
      <button menuClose ion-button round small clear style="color: rgb(128, 127, 126); background: rgb(214, 209, 209)" *ngIf="member" (click)="goToLogout()">
        로그아웃
      </button>
    </ion-list>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
